{% extends 'basement.html'%}


{% block content%}

{% include 'zwipi-icons.svg' %}

<div class="container">
    <div class="header">
        <div class="logo">
                <p id="logo">zwipi<span>Online</span></p>
            </div>
    </div>
    <div class="main">
        <h2>Standard terms of use</h2>
        <h3>Read them carefully then procced to register</h3>
        <p>By Joining our website you agree that you are over the age of 18, 
            meaning you have already turned 18 and understand that even though 
            this is a made for fun game, there are
             some elements that are not suitable for people younger than 18</p>
        <p>The service is currently available only to South African citizens with
             a valid South African Identity Number and Cell phone number</p>
             <p>Under no circumstances are we going to ask you for your account number and or pin number</p>
             <p>Withdrawals are to be made strictly via Cash send, ewallat or any other electronic fund transfares made by cell number</p>
             <p>Kindly do understand that Withdrawal requests take upto 48hours before funds can be released to the lucky winner</p>
             <p>During Registration kindly ensure that you supply valid information as incorrect information might and can lead to delays during the deposit and or withdrawal process</p>
             <p>When supplying your Identity number, Name and Last name ensure you supply them as they appear on your Identity Card</p>
             <p>Our Administrator will try by all possible means to resolve any difficulties bought to them</p>
             <p>This is a community based platform so we would highly appreciate any constructive critics as they will help us grow</p>
             <br>
             <br>

             <a href="/register" class="bet-btn">Continue</a>
    </div>
</div>


{% endblock %}